.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.item-div {
  margin-left: 0;
}
.item-top-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
}
.profile {
  padding: 8px;
  display: inline;
  border-radius: 50%;
  margin-left: 0;
}
.name-item {
  margin-right: 10px;
}
.cTime {
  color: #64748b;
}
.item-right-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}
.icons-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.likeText {
  color: #64748b;
}
.deleteImg {
  margin-left: auto;
  align-content: flex-end;
}
.reqButton {
  background-color: transparent;
  border-width: 0;
}
